/* GENERAL */
:root{
  --color_yellow: #ffcc29;
  --color_green: #759548;
  --color_blue: #005cdb;
  --color_brown: #684121;
  --color_black: black;
  --color_white: rgb(240, 240, 240);
  --color_gray: gray;
  --transition1s: 1s;
}
* {
  box-sizing: border-box;
}
body {
  margin: 120px 0px 0px 0px;
  font-family: sans-serif;
  /* background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(133,149,72,1) 48%, rgba(117,149,72,1) 100%); */
}
.bold{
  font-weight: bold;
  font-size: x-large;
}
@keyframes opacityIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes opacityOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* MOBILE RESPONSIVE */
@media (max-width: 840px) {
  #none{
    display: none;
  }
  #outputAnimation{
    display: flex;
    flex-direction: column;
    transition: var(--transition1s);
    animation: opacityOut 0.8s forwards;
  }

  /* NAVBAR */
  #nav{
    height: 80px;
  }
  .nav--containner{
    align-items: initial !important;
    justify-content: space-between;
  }
  #nav--img{
    height: 70px;
    transition: var(--transition1s);
  }
  #nav--dropdown{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5px;
  }
  #nav--menuBtn{
    display: flex;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: var(--transition1s);
    animation: opacityIn 0.8s forwards;
  }
  #nav--infos{
    display: flex;
    flex-direction: column;
    gap: 0px;
    background-color: var(--color_black);
    border-radius: 10px;
    transition: var(--transition1s);
    animation: opacityIn 0.8s forwards;
  }

  /* LOTES */
  .div--pagamento{
    gap: 40px !important;
  }
}


/* GERAL CONFIGS */
/* NAVBAR */
nav {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;

  color: var(--color_green);
  background-color: var(--color_black);
  padding: 5px 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.40);
  z-index: 1;
  transition: var(--transition1s);
  user-select: none;
}
nav img{
  height: 90px;
  transition: var(--transition1s);
}
.nav--menuBtn{
  display: none;
  transition: var(--transition1s);
}

.nav--containner{
  display: flex;
  align-items: center;
  gap: 30px;
  
  top: -90px;
  animation: slide 0.8s forwards;
  animation-delay: 0.2s;
}
@keyframes slide {
  100% { top: 0; }
}
.nav--infos{
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.nav--infos div{
  display: flex;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
}
.nav--infos div:hover{
  color: var(--color_yellow);
}
/* MAIN PAGE */
.main--page{
  text-align: center;
}

/* FOTOS */
.div--fotos{
  margin: 0px 5px;
  padding: 0;
}

/* LOTES */
.div--lotes{
  margin: 0;
}
.div--select{
  margin: auto;
  padding: 0px 10px;
  min-width: 400px;
  max-width: 700px;
}
.div--pagamento{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  gap: 100px;
}