// CONTATOS 
.div--contatos {
    padding-bottom: 60px;
  
    position: relative;
    transform: translateX(-100vw);
    animation: slide 2s forwards;
    animation-delay: 0.2s;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        
        img {
            width: 40px;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            cursor: pointer;
            user-select: none;

            &:hover{
                color: $color_yellow;

                & img {
                    filter: sepia(1) saturate(10000%) hue-rotate(-40deg);
                }
            }
        }
    }
}