/* ANIMATIONS KEYFRAMES */
@-webkit-keyframes slide {
  100% {
    transform: translateY(0);
    transform: translateX(0);
  }
}
@keyframes slide {
  100% {
    transform: translateY(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 1300px) {
  body {
    margin-top: 100px !important;
  }
  #none {
    display: none;
  }
  #outputAnimation {
    display: flex;
    flex-direction: column;
    transition: 1s;
    -webkit-animation: opacityOut 0.8s forwards;
            animation: opacityOut 0.8s forwards;
  }
  #nav {
    height: 80px;
  }
  .nav--containner {
    align-items: initial !important;
    justify-content: space-between;
  }
  .nav--containner img {
    height: 70px;
    transition: 1s;
  }
  .nav--dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5px;
  }
  #nav--menuBtn {
    display: flex;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 1s;
    -webkit-animation: opacityIn 0.8s forwards;
            animation: opacityIn 0.8s forwards;
  }
  #nav--infos {
    display: flex;
    flex-direction: column;
    gap: 0px;
    border-radius: 10px;
    transition: 1s;
    -webkit-animation: opacityIn 0.8s forwards;
            animation: opacityIn 0.8s forwards;
    background-color: black;
    border-radius: 20px;
  }
  .div--sobre-Infos {
    flex-direction: column;
    align-items: center;
    font-size: large;
    gap: 0px !important;
  }
  .div--lotes img {
    max-width: 400px !important;
  }
  .div--lotes .div--lotes-pagamento {
    gap: 40px !important;
    font-size: 18px !important;
  }
  .div--contatos {
    padding: 0px 10px;
  }
  .div--contatos .div--contatos-Infos {
    gap: 10px !important;
  }
}
nav {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  color: #759548;
  background-color: black;
  padding: 5px 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: 1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
nav img {
  height: 90px;
  transition: 1s;
}

.nav--menuBtn {
  display: none;
  transition: 1s;
}

.nav--containner {
  display: flex;
  align-items: center;
  position: relative;
  gap: 30px;
  transform: translateY(-90px);
  -webkit-animation: slide 0.8s forwards;
          animation: slide 0.8s forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.nav--infos {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.link-btn {
  display: flex;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #f0f0f0;
}
.link-btn:hover {
  color: #ffcc29;
  transition: 0.2s;
}

.div--sobre {
  padding-bottom: 20px;
  position: relative;
  transform: translateX(-100vw);
  -webkit-animation: slide 0.8s forwards;
          animation: slide 0.8s forwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.div--sobre h1 {
  margin: 5px;
}
.div--sobre .div--sobre-Infos {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.div--sobre .div--sobre-Infos h3 {
  margin: 5px;
  color: #f0f0f0;
  text-align: center;
}
.div--sobre .div--sobre-Infos div {
  min-width: 400px;
  max-width: 400px;
  text-align: justify;
  word-spacing: 5px;
  padding: 0px 20px;
}
.div--sobre .div--sobre-Infos li {
  line-height: 130%;
}

.div--lotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-bottom: 20px;
  position: relative;
  transform: translateX(-100vw);
  -webkit-animation: slide 1.5s forwards;
          animation: slide 1.5s forwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.div--lotes img {
  max-width: 800px;
  padding: 0px 5px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.div--lotes .div--lotes-Select {
  position: relative;
  margin: 0 auto;
  min-width: 150px;
  max-width: 550px;
  width: 100%;
  padding: 0px 10px;
  color: #2b2b2b;
}
.div--lotes .div--lotes-Select p {
  color: #b4b4b4;
  font-size: 18px;
  margin-bottom: 0;
}
.div--lotes .div--lotes-Pagamento {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  gap: 100px;
}
.div--lotes .div--lotes-Pagamento h3 {
  color: #f0f0f0;
  font-weight: bold;
  font-size: x-large;
}

.div--contatos {
  padding-bottom: 60px;
  position: relative;
  transform: translateX(-100vw);
  -webkit-animation: slide 2s forwards;
          animation: slide 2s forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.div--contatos div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.div--contatos div img {
  width: 40px;
}
.div--contatos div div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.div--contatos div div:hover {
  color: #ffcc29;
}
.div--contatos div div:hover img {
  filter: sepia(1) saturate(10000%) hue-rotate(-40deg);
}

.div--fotos {
  margin: 120px 10px 0 10px;
  padding-bottom: 20px;
  position: relative;
  transform: translateX(-100vw);
  -webkit-animation: slide 1s forwards;
          animation: slide 1s forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 120px 0 0 0;
  font-family: "Inter", sans-serif;
  background: #2b2b2b;
  color: #b4b4b4;
  text-align: center;
}

h1 {
  color: #f0f0f0;
  text-transform: uppercase;
  text-shadow: 0 0 10px #b4b4b4, 0 0 20px #ffcc29, 0 0 50px #ffcc29, 0 0 90px #ffcc29;
}

footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #2b2b2b;
  color: #f0f0f0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
footer p {
  margin: 0 0 5px 0;
}